# Virtual env
.venv/

# Env / secrets (keep .env.example)
config/.env

# Reports
allure-results/
allure-report/
#report.html

# Logs
logs/

# Python bytecode cache (every folder, any depth)
__pycache__/

# IDE / OS / .MD files
.idea/
CLAUDE.md
LEARNING.md
